*{
    margin: 0;
    padding: 0;
}
.cont-form{
    width: 100%;
}
.form-registro-comprador{
    width: 900px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
}
.titulo-registro-comprador{
    font-size: 36px;
    padding-top: 10px;
    padding-bottom: 10px;
    color:white;
    background-color: #1c1c1c;
    width: 100%;
    text-align: center;
    font-family: 'Lexend Zetta', sans-serif;
}
.item-registro-comprador{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    margin-top: 20px;
}
.label-registro-comprador{
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    color:#1c1c1c;
    width: 15%;
    
}
.label-r2{
    margin-left: 30px;
}
input{
    width: 30%;
    border-radius: 5px;
    border: solid 1px #1c1c1c;
    height: 30px;
}
.fecha-comprador, .correo-comprador, .contrasena2-comprador, .usuario-comprador{
    margin-top: 25px;
}
.item-btns{
    justify-content: space-around;
    margin-top: 80px;
}
.btn-registro-comprador{
    text-decoration: none;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 5px;
    font-family: 'Anton', sans-serif;
}
.facebook{
    background-color: #3b5998;
    color: white;
    
}
.google{
    background-color: #e6e6e6;
    color: #DB4437;
}

