*{
    margin: 0;
    padding: 0;
}
form{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}
.titulo-solicitar-diseño{
    width: 100%;
    background-color: #1c1c1c;
    font-size: 36px;
    text-align: center;
    color:white;
    padding:15px 0px;
    font-family: 'Lexend Zetta', sans-serif;
}
.subtitulo-solicitar-diseño{
    font-size: 20px;
    color:#1c1c1c;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;    
    font-family: 'Lexend Zetta', sans-serif;
}
.datos-solicitud-col1, .datos-solicitud-col2{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}
.datos-solicitud-col1{
    width: 35%;
}
.datos-solicitud-col2{
    width: 50%;
}
.label-col1{
    width: 30%;
    font-size: 16px;
    color:#434b4d;
    margin-top: 20px;
    margin-bottom:70px;
    margin-right: 36px;
    font-family: 'Anton', sans-serif;
}
.label-col2{
    width: 30%;
    font-size: 16px;
    color:#434b4d;
    margin-top: 20px;
    margin-bottom:0px;
    margin-right: 36px;
    font-family: 'Anton', sans-serif;
}
select, .input-color, .input-nombre-imagen{
    width: 40%;
    height: 30px;
    margin-top:20px;

}
.input-nombre-imagen{
    width: 55%;
}
.input-cargar-imagen{
    width:55% ;
    border: solid 1px black;
    height: 20px;
    margin-top:20px;
}

textarea{
    width: 90%;
    margin-top: 0px;
    height: 200px;
}
.contenedor-btn{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
button, .btn-cancelar{
    width: 80px;
    border: solid 1px #1c1c1c;
    background-color: #1c1c1c;
    color: white;
    margin-right: 60px;
    border-radius: 5px;
    padding: 0px 10px;
    height: 40px;    
    font-family: 'Anton', sans-serif;
    font-size: 20px;
}
.btn-cancelar{
    text-decoration: none;
    text-align: center;
    line-height: 40px;
}
